{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Home Page </title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Link A</a></li>
            <li><a href="#">Link B</a></li>
            <li><a href="#">Link C</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside class="sidebar_left">
        </aside>
        <main class="main_col">
            {% block content %}
            {% endblock %}
        </main>
        <aside class="sidebar_right">
        </aside>
    </div>
    <footer>
        <div class="">

        </div>
    </footer>

</body>

</html>
